// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$footer-bg: #f1f1f1;
$orange: #f2a900;
$brand: #0075c9;
$white-text: #ebeef1;
$white: #ffffff;

$light-blue: #f5f7fa;

$list-bg: #ebeef1;

.border-left-0 {
  border-left: none !important;
}

.inner-margin-1 {
  margin: 10px;
}

.bg--lighten-blue {
  background-color: $light-blue;
}

.pb-120 {
  padding-bottom: 20%;
}
.px-100 {
  padding-right: 0;
  padding-left: 0;
}

.text-bg-info {
  background-color: #f3f5f7 !important;
}

.text-primary {
  color: #717983 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
